In [ ]:
# time series prediction
# two tasks:
# predict tomorrow's price
# predict next week's price

In [2]:
# imports
import pandas as pd
import numpy as np

In [4]:
# load data
df = pd.read_csv('data/gas_price_2017_2023.csv')

In [5]:
df

            Date  VANCOUVER
0       1/2/2017      130.6
1       1/3/2017      135.8
2       1/4/2017      135.9
3       1/5/2017      134.1
4       1/6/2017      135.5
...          ...        ...
1823  12/26/2023        NaN
1824  12/27/2023        NaN
1825  12/28/2023        NaN
1826  12/29/2023        NaN
1827    1/1/2023        NaN

[1828 rows x 2 columns]

In [ ]:
df.info()